<main class="flex min-h-screen items-center justify-center px-4 py-12">
  <div class="w-full max-w-md p-8 shadow-lg bg-white flex flex-col rounded-xl">
    <header class="space-y-2.5 mb-8">
      <h1 class="text-2xl font-bold">Crea un account</h1>
      <p class="text-gray-400">
        Inserisci i tuoi dati per registrarti al sistema di prenotazione
      </p>
    </header>
    <div>
      <form
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
        class="flex flex-col gap-4"
      >
        <!-- Nome -->
        <mat-form-field class="example-full-width">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" />
        </mat-form-field>
        <!-- Cognome -->
        <mat-form-field class="example-full-width">
          <mat-label>Cognome</mat-label>
          <input matInput formControlName="cognome" />
        </mat-form-field>
        <!-- Email -->
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
        <!-- Password -->
        <mat-form-field class="example-full-width relative" appearance="fill">
          <mat-label>Password</mat-label>

          <input
            matInput
            [type]="hidePwd ? 'password' : 'text'"
            formControlName="password"
            class="pr-10"
            autocomplete="new-password"
          />

          <!-- Icon Button -->
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hidePwd = !hidePwd"
            [attr.aria-label]="
              hidePwd ? 'Mostra password' : 'Nascondi password'
            "
            class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700"
            tabindex="-1"
          >
            <mat-icon>{{ hidePwd ? "visibility" : "visibility_off" }}</mat-icon>
          </button>

          <!-- Errori -->
          <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
            La password è obbligatoria
          </mat-error>
          <mat-error
            *ngIf="registerForm.get('password')?.hasError('minlength')"
          >
            La password deve contenere almeno 6 caratteri
          </mat-error>
        </mat-form-field>

        <!-- Pulsante Registrati -->
        <button
          class="bg-expriviaOrange font-medium rounded-lg text-white text-sm px-5 py-4 text-center me-2 mb-2 cursor-pointer"
          type="submit"
          [disabled]="registerForm.invalid"
        >
          Registrati
        </button>
        <div class="text-center text-sm">
          Hai già un account?
          <a
            [routerLink]="['/accedi']"
            class="text-expriviaOrange underline-offset-4 hover:underline"
          >
            Accedi
          </a>
        </div>
      </form>
    </div>
  </div>
</main>
