<main class="flex min-h-screen items-center justify-center px-4 py-12">
    <div class="w-full max-w-md p-8 shadow-lg bg-white flex flex-col rounded-xl">
        <div class="space-y-2.5 mb-8">
            <h1 class="text-2xl font-bold">Accedi</h1>
            <p class="text-gray-400">Inserisci le tue credenziali per accedere al sistema di prenotazione</p>
        </div>
        <div>
            <form class="flex flex-col gap-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <!-- Email -->
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="nome.cognome@exprivia.com">
                    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                        Email <strong>richiesta</strong>
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
                        Inserisci una mail valida
                    </mat-error>
                </mat-form-field>
                <!-- Password -->
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" placeholder="Inserisci la password">
                    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                        Password <strong>richiesta</strong>
                    </mat-error>
                </mat-form-field>

                <!-- Bottone Login -->
                <button
                    class="bg-expriviaOrange font-medium rounded-lg text-white text-sm px-5 py-4 text-center me-2 mb-2 cursor-pointer"
                    type="submit" [disabled]="loginForm.invalid || isLoading">
                    <span *ngIf="isLoading" class="loader"></span> <!-- Aggiungi un'icona di caricamento -->
                    <span *ngIf="!isLoading">Accedi</span>
                </button>

                <!-- Messaggio errore generale -->
                <div *ngIf="errorMessage" class="text-red-500 text-center mt-2">
                    {{ errorMessage }}
                </div>

                <!-- Recupero Password -->
                <div class="text-center text-sm mt-4">
                    <a [routerLink]="['/forgot-password']"
                       class="text-expriviaOrange underline-offset-4 hover:underline hover:text-[#E9500E] transition-colors duration-300">
                      Password dimenticata? Recuperala QUI
                    </a>
                  </div>

                <div class="text-center text-sm mt-4">
                    Non hai un account?
                    <a [routerLink]="['/registrazione']" class="text-expriviaOrange underline-offset-4 hover:underline">
                        Registrati
                    </a>
                </div>

                

            </form>
        </div>
    </div>
</main>